body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  box-sizing: border-box;
  padding-bottom: 44px;
}

#main {
  position: relative;
  width: 100%;
  top: 22px;
  padding-top: 18px;
  padding-bottom: 15px;
  background: #eee;
  border-radius: 5px;
  text-align: center;
}

#title {
  font-size: 2.5rem;
}

#img-caption {
  margin-top: 20px;
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#img-div {
  margin: 15px;
  background: white;
  padding: 10px 10px 20px 10px;
}

h2 {
  font-size: 1.2rem;
  padding-top: 35px;
  padding-bottom: 35px;
}

.text-body {
  text-align: left;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5rem;
  padding-bottom: 30px;
}

#tribute-info {
  padding-bottom: 20px;
}

li {
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

.text-body p {
  font-style: italic;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
}

.quote {
  position: relative;
  top: 20px;
}

a {
  color: #477ca7;
}

a:visited {
  color: #74638f;
}

@media (max-width: 610px) {
  .text-body {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  h3 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 465px) {
  body {
    padding: 0;
    margin: 0;
  }

  #main {
    top: 0;
  }

  #title {
    font-size: 2.2rem;
  }
}